/* General styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header2{
    margin-top: 20px;
    height: 70px;
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-left: 50px;
    display: flex;
    color: gray;
    box-sizing: border-box;
    font-size: 20px;
    gap: 10px;
    font-weight: 500;
}

.header2 input{
    width: 800px;
    height: 60px;
    font-size: 20px;
}

.sd button{
   height: 50px;
   width: 150px;
   margin-left: auto;
   font-weight: 600;
   background-color: #09757A;
   color: white;
   border-color: gray;
   border-radius: 5px;
}

.sd{
    margin-top: -60px;
    padding-left: 440px;
}

.sd button:hover{
    background-color: #00838C;
}

.bt1{
    padding-left: 950px;
    display: flex;
    justify-content: center;
    margin-top: -60px;
}

.bt1 button{
    width: 300px;
    height: 70px;
    background-color: lightgray;
    border-color: white;
    border-radius: 10px;
}

.bt1 h3, .bt1 h4, .bt1 h5{
    color: gray;
}

.bt1 button:hover{
    background-color: white;
}

.main{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.main img{
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
    height: auto;
}

.main{
    padding-right: 450px;
}

.btn{
    margin-top: -150px;
    padding-right: 1000px;
    text-align: center;
}

.try-domain-button{
    background-color: black;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
}

.try-domain-button:hover .arrow-icon{
    display: inline-block;
    transform: translateX(5px);
}

.arrow-icon{
    display: none;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.blackimg{
    padding-left: 1000px;
    margin-top: -410px;
}

.blackimg img{
    width: 400px;
    height: 470px;
    border-radius: 10px;
}

.new{
    padding-left: 1000px;
    margin-top: -400px;
}

.new button{
    width: 50px;
    border-radius: 5px;
    height: 25px;
    background-color: aquamarine;
    cursor: pointer;
}

.suggest{
    margin-top: 150px;
    color: white;
    padding-left: 1000px;
}

.suggest h4{
    margin-top: -100px;
}

.suggest h3{
    margin-top: 50px;
    font-size: 30px;
}

.try_ai_domain{
    margin-top: 30px;
    padding-left: 1000px;
}

.try_ai_domain button{
    width: 200px;
    height: 50px;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.try_ai_domain:hover .arrow-icon{
    display: inline-block;
    transform: translateX(5px);
}

.arrow-icon{
    display: none;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

