.slider-container h1{
    font-size: 60px;
    font-weight: 500;
}

.slider-container p{
    font-size: 20px;
    font-weight: 500;
}

.slider-container {
    text-align: center;
    padding: 20px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
  }

  /* Slider container */
.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slider-content {
    display: flex;
    width: calc(650px * 16 + 50px * 15); /* 8 images */
    animation: slide 30s linear infinite;
    gap: 50px; /* Space between images */
    transition: transform 1.5s ease; 
  }
  
  .slider.paused .slider-content {
    animation-play-state: paused;
  }

/* Styling for individual images */
.slider-image {
   width: 650px;
    height: 500px;
    object-fit: cover;
    flex-shrink: 0;
  }  

  /* Slider animation - moves all images from right to left */
@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

 