.box-slider-container {
    position: relative;
    overflow: hidden;
    width: 100%; /* Full width of the container */
    max-width: 500px; /* Adjust as needed */
    height: 670px; /* Adjust as needed */
    margin: 0 auto; /* Center align */
  }
  
  .box-slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .box-slider-box {
    min-width: 100%; /* Each box takes full width of the container */
    box-sizing: border-box;
    height: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .stars {
    margin: 10px 0;
  }
  
  .star {
    color: white;
    background-color: lightgreen;
    padding: 0 7px;
    border-radius: 3px;
    font-size: 20px;
    display: inline-block;
  }
  
  .box-slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    z-index: 1;
    font-size: 18px;
  }
  
  .prev {
    left: 190px;
  }
  
  .next {
    right: 200px;
  }
  
  .fivestar{
    margin-top: 100px;
  
  }

  .fivestar h1{
    color: black;
  }

  /* Media query for responsiveness */
@media (max-width: 768px) {
  .box-slider-container {
      max-width: 100%;
  }

  .box-slider-button {
      font-size: 14px;
      padding: 10px;
  }

  .prev {
      left: 5px;
  }

  .next {
      right: 5px;
  }
}