.menu h4{
    padding-right: 1150px;
}

.menu ul{
    display: flex;
    padding-left: 550px;
}

.menu ul li{
    list-style-type: none;
    margin-top: -40px;
    padding-left: 30px;
    font-weight: 600;
}

.menu ul li:hover{
    text-decoration: underline;
}

.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: gray;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }

.power img{
    width: 700px;
    padding-right: 650px;
}

.power_right{
    padding-left: 550px;
    margin-top: -400px;
}

.power_right h4{
    padding-right: 250px;
}

.power_right h1{
    text-align: left;
    padding-left: 300px;
}

.power_right h5{
    text-align: left;
    padding-left: 300px;
    font-weight: 500;
    font-size: 15px;
}

.plans{
    padding-left: 400px;
}

.plans button{
   width: 250px;
   height: 50px;
   border-radius: 10px;
   background-color: black;
   color: white;
   font-weight: 600;
   font-size: 15px;
   cursor: pointer;
   position: relative;
}

.plans button:hover .arrow-icon{
    display: inline-block;
    transform: translateX(5px);
}

.arrow-icon{
    display: none;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.email_middle{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.email_middle h1{
    font-size: 40px;
    font-family: "Playfair Display", serif;
    font-weight: 900;
}

.professional button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
   position: relative;
}

.professional{
    padding-right: 200px;
}

.professional button:hover .arrow-icon{
    display: inline-block;
    transform: translateX(5px);
}

.email button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    font-weight: 700;
    cursor: pointer;
   position: relative;
}

.email button:hover .arrow-icon{
    display: inline-block;
    transform: translateX(5px);
}

.email{
    padding-left: 250px;
    margin-top: -50px;
}

.box1{
    border: 1px solid gray;
    width: 300px;
    height: 1000px;
    padding-left: 30px;
    margin-left:50px;
    margin-top: 100px;
    border-radius: 20px;
}

.box1 h3{
    padding-right: 45px;
}

.box1 h4{
    border: 1px solid gray;
    width: 250px;
    border-radius: 5px;
}

.box1 h5 span{
    text-decoration: line-through;
}

.box1 p{
    font-weight: 500;
}

.box1 button{
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.box1 button:hover{
    transform: scaleX(1.1);
}

.box2{
    border: 1px solid gray;
    width: 300px;
    margin-left: 430px;
    height: 1000px;
    margin-top: -1000px;
    border-radius: 20px;
}

.box2 h4{
    border: 1px solid gray;
}

.box2 h5 span{
    text-decoration: line-through;
}

.box2 p{
    font-weight: 500;
}

.box2 button{
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.box2 button:hover{
    transform: scaleX(1.1);
}

.box3{
    border: 1px solid gray;
    margin-left: 790px;
    height: 1000px;
    margin-top: -1000px;
    border-radius: 20px;
    width: 300px;
}

.box3 h4{
    border: 1px solid gray;
}

.box3 h5 span{
    text-decoration: line-through;
}

.box3 p{
    font-weight: 500;
}

.box3 button{
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.box3 button:hover{
    transform: scaleX(1.1);
}

.box4{
    border: 1px solid gray;
    width: 300px;
    margin-left: 1150px;
    margin-top: -1000px;
    border-radius: 20px;
    height: 1000px;
}

.box4 h4{
    border: 1px solid gray;
}

.box4 h5 span{
    text-decoration: line-through;
}

.box4 p{
    font-weight: 500;
}

.box4 button{
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.box4 button:hover{
    transform: scaleX(1.1);
}

.email_plan{
    margin-top: 100px;
    border: 1px solid gray;
    width: 1400px;
    margin-left: 60px;
    border-radius: 20px;
    height: 250px;
    background-color:lightgray;
}

.plus{
    padding-right: 1200px;
    margin-top: 50px;
}

.plus button{
    width: 50px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #00838C;
    border: none;
    height: 25px;
}

.include h3{
    padding-right: 1050px;
    font-size: 30px;
}

.include h4{
    margin-top: -100px;
    padding-right: 500px;
    font-size: 20px;
}

.include p{
    padding-right: 470px;
    font-weight: 500;
}

.online{
    margin-top: -150px;
    text-align: left;
    padding-left: 620px;
}

.online h4{
    font-size: 20px;
}

.online p{
    font-weight: 500;
}

.online1{
    text-align: left;
    padding-left: 900px;
    margin-top: -155px;
}

.online1 h4{
    font-size: 20px;
}

.online1 p{
    font-weight: 500;
}

.mobile{
    text-align: left;
    padding-left: 1200px;
    margin-top: -150px;
}

.mobile h4{
    font-size: 20px;
}

.mobile p{
    font-weight: 500;
}

.dis{
    padding-right: 1250px;
    text-decoration: underline;
    margin-top: 50px;
}

.design{
    border: 1px solid black;
    height: 50px;
    margin-top: 50px;
    background-color: black;
}

.design img{
    width: 50px;
    padding-right: 1300px;
}

.design h4{
    color: white;
    margin-top: -40px;
    padding-right: 1100px;
}