.send{
    margin-top: 150px;
}

.send h1{
    font-size: 50px;
}

.send input{
    width: 800px;
    height: 50px;
}

.input_bt button{
    background-color: black;
    width: 40px;
    height: 53px;
    cursor: pointer;
}

.input_bt{
    padding-left: 765px;
    margin-top: -53px;
}

.background img{
    margin-top: 100px;
    width: 1400px;
    border-radius: 50px;
}

.background h1{
    font-size: 130px;
    margin-top: -600px;
    color: white;
    text-align: left;
    padding-left: 170px;
}