.godaddy-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .godday-container-header {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #333;
  }
  
  .columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .column {
    background-color: #f9f9f9;
    padding: 20px;
    flex: 1; /* This ensures all columns take up equal space */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .column h2 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 15px;
  }
  
  .column p {
    font-size: 1rem;
    color: #555;
  }
  
  .column:hover {
    transform: translateY(-5px);
  }
  
  /* Responsive adjustments for mobile devices */
  @media (max-width: 768px) {
    .columns {
      flex-direction: column;
      align-items: center;
    }
  
    .column {
      margin-bottom: 20px;
    }
  }
  